@{
    ViewData["Title"] = "GetContactDetailsWithPhoneNumbers";
}
@model ContactWithPhoneNumbersViewModel


<style>
    
    dt{
        font-size:medium;
        font-style:italic;
        color:blue;
    }
    dd{
        font-size:medium;
        margin-left:10px;
        border-width:2px;
        border-style:solid;
        border-radius:2px;
        background-color:white;
    }

    .phoneNumbers li{
        background-color:lawngreen;
        border:1px dashed black;
    }
</style>

<div class="rounded container p-5 mt-5 mb-1 bg-primary bg-gradient text-white">
  <h1>Details</h1>
</div>

<div class="details rounded container bg-warning bg-gradient">
    <dl>
        <dt>First Name:</dt>
        <dd>@Model.FirstName</dd>

        <dt>Last Name:</dt>
        <dd>@Model.LastName</dd>

        <dt>Email:</dt>
        <dd>@Model.Email</dd>

        <dt>Address:</dt>
        <dd>@Model.Address</dd>

        <dt>Web Address:</dt>
        <dd>@Model.WebAddress</dd>

        <dt>Nickname:</dt>
        <dd>@Model.NickName</dd>

        <dt>Phone Numbers:</dt>
    </dl>


    <ol class="phoneNumbers">
        @foreach (var item in Model.PhoneNumbers)
        {

            <li>@item.PhoneNo</li>

        }
    </ol>

</div>